@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap");
body {
  background-color: #fffbf1;
}

.title {
  text-align: center;
  font-family: "Domine", "Regular 400";
  font-size: 50px;
  color: #763932;
}

.divider {
  height: 5px;
  width: 150px;
  background-color: #763932;
  margin: 0 auto;
  border-radius: 10px;
}

.calendar-wrapper {
  font-family: "Poppins", sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.calendar {
  background-color: #763932;
  color: #e4ceba;
  font-family: "Poppins", sans-serif;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  padding: 10px;
  border: none;
  transform: scale(1.15);
  transform-origin: center top;
}

.calendar .react-datepicker__header {
  background-color: #763932;
  border-bottom: none;
}

.react-datepicker {
  background-color: #fff2e8 !important;
}

.calendar .react-datepicker__current-month,
.calendar .react-datepicker__day-name {
  color: #e4ceba;
  font-weight: 500;
  font-size: 14px;
}

.dark-day {
  color: #e4ceba;
  background-color: transparent;
  border-radius: 0;
  font-size: 15px;
}

.calendar .event-day {
  background-color: #d4b69a !important;
  color: #4d221d !important;
  border-radius: 50%;
  font-size: 15px;
}

.calendar .event-day:focus {
  background-color: #d4b69a;
}

.calendar .event-day:focus:hover {
  color: #e4ceba !important;
}

/* Ziua selectată (clicuită efectiv) */
.calendar
  .react-datepicker__day--selected:not(.react-datepicker__day--outside-month) {
  background-color: #763932 !important;
  color: #e4ceba !important;
  font-weight: 600;
  border-radius: 50%;
  transform: scale(1.15);
  transition: all 0.2s ease;
}

/* Ziua selectată + hover */
.calendar .react-datepicker__day--selected:hover {
  background-color: #cdb298 !important;
  color: #4d221d !important;
}

.calendar .non-event-day {
  pointer-events: none;
  cursor: default;
  font-size: 15px;
}

.calendar .react-datepicker__navigation-icon::before {
  border-color: #e4ceba;
}

.custom-calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #763932;
  color: #e4ceba;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.nav-btn {
  background: none;
  border: none;
  color: #e4ceba;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-btn:hover {
  color: #ecded0;
}

.nav-btn:focus {
  outline: none;
  box-shadow: none;
}

.react-datepicker__day--outside-month {
  pointer-events: none;
  opacity: 0.4;
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  transform: none !important;
}

.date-event {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  padding: 50px 80px;
  flex-wrap: wrap;
}

.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  width: 650px;
  height: 400px;
  padding: 30px 40px;
  background-color: #763932;
  border-left: 6px solid #e4ceba;
  border-radius: 8px;
  color: #e4ceba;
  font-family: "Poppins", sans-serif;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.event-card h2 {
  font-family: "Domine", "Regular 400";
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
}

.event-card p {
  font-family: "Domine", "Regular 400";
  font-size: 15px;
  line-height: 1.6;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.event-card button {
  font-family: "Domine", "Regular 400";
  margin-top: 20px;
  background-color: #e4ceba;
  color: #763932;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.event-card button:hover {
  background-color: #b9997a;
  color: #763932;
}
